- content_for :css do
  = stylesheet_link_tag 'review_requests/show'

- content_for :js do
  = javascript_include_tag 'review_requests/show'

-#%pre{class: "brush: eye;"}
  = @request.files.first.diff


%table
  - @request.files.each do |file|
    %h1{style: 'float: left'}=link_to file['filename'], file['raw_url']
    %small{style: 'float: right'}= file['sha']
    %div{style: 'clear: both'}
    %p= file.stats

    -#%pre{class: "brush: eye;"}
      - file.past_map.each do |line_number, line|
        = line
    -#%pre{class: "brush: eye;"}
      - file.future_map.each do |line_number, line|
        = line

    %table.file{width: "100%", cellspacing: 0, cellpadding: 0}
      - file.future.size.times do |l|
        %tr{class: "l #{file.line_class(l)}"}
          %td.past
            - if file.past[l]
              =raw file.past[l].gsub(/\s/, '&nbsp;')
            - else
              .empty
          %td.gutter.past_gutter
            = file.past_map[l].first
          %td.gutter
            = file.future_map[l].first
          %td.future
            - if file.future[l]
              =raw file.future[l].gsub(/\s/, '&nbsp;')
            - else
              .empty

    -#%pre{class: "brush: eye; highlight: #{file.future_map} removed: #{file.past_map}"}
      = file.diff.gsub(/^(\+|-)/, '')